@model Lab2.Models.Entities.Post
@using Lab2.Models.SessionManager 
@{
    Guid id;
    ViewBag.Title = "CreatePost";
    if (ViewBag.ThreadID != null) {
        id = ViewBag.ThreadID;
    } else {
        id = Guid.Empty;
    }
   
}
<h2>CreatePost</h2>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm())
{ 
<div>
    <p>
        <span>@Html.LabelFor(u => u.Title)</span>@Html.EditorFor(u => u.Title) <span>@Html.ValidationMessageFor(u => u.Title)</span>
    </p>
    <p>
        <span>@Html.LabelFor(u => u.Body)</span>@Html.EditorFor(u => u.Body) <span>@Html.ValidationMessageFor(u => u.Body)</span>
    </p>
</div>
    @Html.HiddenFor(m => m.ThreadID, new { Value = id })

<div>
    <input type="submit" value="Create" />
</div>
}
